language: c

before_install:
  - sudo apt-get update
  - sudo apt-get -qq install cmake

install:
  - mkdir build
  - cd build
  - cmake ../ \
          -DOPENCL_LIBRARY:FILEPATH=/usr/lib/libOpenCL.so \
          -DOPENMM_BUILD_AMOEBA_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_AMOEBA_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_CUDA_DOUBLE_PRECISION_TESTS:BOOL=OFF \
          -DOPENMM_BUILD_CUDA_LIB:BOOL=OFF \
	  -DOPENMM_BUILD_CUDA_TESTS:BOOL=OFF \
          -DOPENMM_BUILD_C_AND_FORTRAN_WRAPPERS:BOOL=ON \
          -DOPENMM_BUILD_DRUDE_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_DRUDE_OPENCL_LIB:BOOL=ON \
          -DOPENMM_BUILD_DRUDE_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_OPENCL_DOUBLE_PRECISION_TESTS:BOOL=TRUE \
          -DOPENMM_BUILD_OPENCL_LIB:BOOL=ON \
          -DOPENMM_BUILD_OPENCL_TESTS:BOOL=TRUE \
          -DOPENMM_BUILD_PME_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_PYTHON_WRAPPERS:BOOL=OFF \
          -DOPENMM_BUILD_RPMD_CUDA_LIB:BOOL=OFF \
	  -DOPENMM_BUILD_RPMD_OPENCL_LIB:BOOL=ON \
	  -DOPENMM_BUILD_RPMD_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_SERIALIZATION_SUPPORT:BOOL=ON \
          -DOPENMM_BUILD_STATIC_LIB:BOOL=OFF \
          -DOPENMM_GENERATE_API_DOCS:BOOL=OFF
  - make

script:
  - make test