language: c

before_install:
  - pwd
  - sudo apt-get update
  - sudo apt-get -qq install doxygen swig
  - sudo apt-get -qq install opencl-1.2-base opencl-1.2-devel opencl-1.2-intel-cpu opencl-1.2-intel-devel
  - #sudo apt-get -qq install cmake rpm alien libnuma1
  - #wget http://registrationcenter.intel.com/irc_nas/3555/intel_sdk_for_ocl_applications_xe_2013_r2_sdk_3.1.1.11385_x64.tgz
  - #tar -xzvf intel_sdk_for_ocl_applications_xe_2013_r2_sdk_3.1.1.11385_x64.tgz
  - #cd intel_sdk_for_ocl_applications_xe_2013_r2_sdk_3.1.1.11385_x64
  - #for f in *.rpm; do fakeroot alien --to-deb $f; done
  - #for f in *.deb; do sudo dpkg -i $f; done
  - #sudo ln -s /opt/intel/opencl-1.2-3.1.1.11385/etc/ /etc/OpenCL/vendors/intel64.icd
  - #sudo ldconfig
  - #cd ..

install:
  - pwd
  - mkdir build
  - cd build
  - cmake -DOPENCL_LIBRARY:FILEPATH=/usr/lib/libOpenCL.so \
          -DOPENMM_BUILD_AMOEBA_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_AMOEBA_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_CUDA_DOUBLE_PRECISION_TESTS:BOOL=OFF \
          -DOPENMM_BUILD_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_CUDA_TESTS:BOOL=OFF \
          -DOPENMM_BUILD_C_AND_FORTRAN_WRAPPERS:BOOL=ON \
          -DOPENMM_BUILD_DRUDE_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_DRUDE_OPENCL_LIB:BOOL=ON \
          -DOPENMM_BUILD_DRUDE_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_OPENCL_DOUBLE_PRECISION_TESTS:BOOL=TRUE \
          -DOPENMM_BUILD_OPENCL_LIB:BOOL=ON \
          -DOPENMM_BUILD_OPENCL_TESTS:BOOL=TRUE \
          -DOPENMM_BUILD_PME_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_PYTHON_WRAPPERS:BOOL=OFF \
          -DOPENMM_BUILD_RPMD_CUDA_LIB:BOOL=OFF \
          -DOPENMM_BUILD_RPMD_OPENCL_LIB:BOOL=ON \
          -DOPENMM_BUILD_RPMD_PLUGIN:BOOL=ON \
          -DOPENMM_BUILD_SERIALIZATION_SUPPORT:BOOL=ON \
          -DOPENMM_BUILD_STATIC_LIB:BOOL=OFF \
          -DOPENMM_GENERATE_API_DOCS:BOOL=OFF  ..
  - make

script:
  - pwd
  - make test